.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
CMakeListsPrivate.txt
backend/node_modules
frontend/node_modules
cmake-build-debug

.DS_Store
node_modules
frontend/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*package-lock.json
*.eslintrc.js
/data/js/app.js
/data/js/app-legacy.js
/cmake-build-all/
/cmake-build-8ch-esp12e-stm32/
/cmake-build-3ch-esp07/
/cmake-build-3ch-esp07-ota/
/cmake-build-5ch-esp12e/
/cmake-build-5ch-esp12e-ota/
